.btn {
  background: #fff;
  border-radius: 8px;
  border: 1px solid rgba(40, 44, 52, 0.3);
  padding: 5px 10px;
}

.addressPage input {
  font-size: 16px;
  padding: 10px 15px;
  margin: 10px auto;
  border: 1px solid rgba(40, 44, 52, 0.3);
  border-radius: 10px;
}