.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* 设置最小高度为100%视口高度 */
  overflow: hidden;
    /* 防止内容溢出 */
}

.content {
  flex: 1;
  /* 内容部分自动填充剩余空间 */
  overflow-y: auto;
  /* 允许内容部分垂直滚动 */
  /* padding: 16px; */
  box-sizing: border-box;
  /* 包括内边距和边框在内的大小 */
}

.bottom-tabbar {
  position: fixed;
  bottom:  0;
  width: 100%;
}
