.categoryItem {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.categoryItem:hover {
  background-color: #f0f0f0;
}

.categoryItem.active {
  background-color: #0000ff;
  color: #e0e0e0;
}

.header {
  padding: 20px 5px 10px;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white; /* 确保背景色一致 */
  z-index: 1000; /* 确保header在其他内容上层 */
}

.header span {
  flex: 3;
  font-size: 18px;
  text-align: center;
}

.icon {
  flex: 1;
  cursor: pointer;
}