.header {
    padding: 10px;
    background-color: #ff3940;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .header .icon {
    position: absolute;
    left: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  
  .header .header-placeholder {
    width: 24px;
  }
  
  .order-list {
    padding: 10px;
  }
  
  .order-item {
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .order-info {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .order-title {
    margin-bottom: 10px;
  }
  
  .order-details p {
    margin: 5px 0;
  }
  